*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: lightskyblue;
}

h2{
    text-align: center;
    color: blue;
}
#cal{
    background-color:lightskyblue;
    max-width: 700px;
    margin: auto;
    text-align: justify;
    text-align: center;

    
}
ul{
    list-style: none;
    
    
}
#grp{
    background-color: lightskyblue;
    max-width: 700px;
    margin: auto;
    text-align: justify;
    text-align: center;    
}
@media screen and (max-width:800px){

}

